BasedOnStyle: llvm

IndentWidth: 4
IndentCaseLabels: true
IndentGotoLabels: true
UseTab: Never
ColumnLimit: 120
PointerAlignment: Left
SpaceAfterCStyleCast: true

BreakBeforeBraces: Attach
Cpp11BracedListStyle: true # can fuck up line breaks on closing brace
BinPackArguments: false
AlignAfterOpenBracket: Align
RemoveBracesLLVM: false # stop clang-format from stripping braces
SpaceInEmptyBlock: false
