Xft.dpi: 182
Xcursor.theme: Adwaita
Xcursor.size: 42

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

URxvt.font:                 xft:monospace:size=20:style=Regular
URxvt.geometry:             80x-1
URxvt.scrollBar:            false

#include "./theme.xresources"
