@import "./rose-pine.css";

* {
  border: none;
  border-radius: 0;
  font-family: "monospace";
  font-weight: bold;
  font-size: 15px;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: @text;
}

tooltip {
  background: @base;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: @overlay;
}

#workspaces button, #tags button {
  padding: 10px;
  color: @highlightMed;
  /* margin-right: 5px; */
}

#workspaces button.active {
  color: @text;
}

#tags button.occupied {
	color: @muted;
}

#workspaces button.focused, #tags button.focused {
  color: @text;
  background: @surface;
  border-radius: 10px;
}

#workspaces button.urgent, #tags button.urgent {
  color: @base;
  background: @pine;
  border-radius: 10px;
}

#workspaces button:hover, #tags button:hover {
  background: @highlightLow;
  color: @text;
  border-radius: 10px;
}

#custom-power_profile,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tags,
#tray,
#memory,
#backlight {
  background: @base;
  opacity: 0.9;
  padding: 0px 10px;
  margin: 3px 0px;
  border: 2px solid @overlay;
}

#memory {
  color: @foam;
  border-radius: 10px 10px 10px 10px;
}

#temperature {
  color: @rose;
  border-radius: 10px 10px 10px 10px;
  border-right: 0px;
}

#temperature.critical {
  color: @love;
}

#backlight {
  color: @text;
  border-radius: 10px 10px 10px 10px;
  margin-right: 10px;
}

#tray {
  border-radius: 10px;
  margin-right: 10px;
}

#workspaces, #tags {
  background: @base;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  /* padding-right: 0px; */
  /* padding-left: 5px; */
}

#custom-power_profile {
  color: @foam;
  border-left: 0px;
  border-right: 0px;
}

#window {
  border-radius: 10px;
  padding: 0px 5px;
  /* padding-left: 4px; */
  /* margin-left: 60px; */
  /* margin-right: 60px; */
}

#clock {
  color: @gold;
  border-radius: 10px 0px 0px 10px;
  margin-left: 10px;
  border-right: 0px;
}

#network {
  color: @love;
  border-radius: 10px 10px 10px 10px;
  /* border-left: 0px; */
  border-right: 0px;
}

#bluetooth {
  color: @gold;
  border-radius: 10px 10px 10px 10px;
  border-right: 0px;
  /* margin-right: 10px; */
}

#pulseaudio {
  color: @iris;
  border-radius: 10px;
  /* border-left: 0px; */
  border-right: 0px;
  margin-right: 5px;
}

#pulseaudio.microphone {
  color: #c4a7e7;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px 10px 10px 0px;
  margin-right: 10px;
}

#battery {
  color: @foam;
  border-radius: 10px;
  /* margin-right: 10px; */
  border-left: 0px;
}

#custom-weather {
  border-radius: 0px 10px 10px 0px;
  /* border-right: 0px; */
  margin-left: 0px;
}

#custom-spotify {
  min-width: 140px;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  padding: 0 10px;
  color: @foam;
  padding: 0px 10px;
  margin: 3px 0px;
  margin-top: 10px;
}
